* {
	margin: 0;
	padding: 0;
	outline: 0;
}

ul,
li {
	list-style: none;
}

.councilor-table {
	width: 900px;
	margin: 4% auto;
	border: 1px solid #D0CDC7;
	border-radius: 5px;
}

.councilor-table-show03 {
	margin: 2% auto;
}

.councilor-table-main1 {
	padding: 10px;
	border-bottom: 1px solid #787771;
}

.councilor-table-main1 h4 {
	display: inline-block;
}

.councilor-table-main1 span {
	float: right;
	font-size: 18px;
	cursor: pointer;
}

.councilor-table-main2 .table-div1 h5 {
	background-color: #009CD2;
	padding: 10px;
}

.councilor-table-main2 .table-div1 ul {
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px solid #787771;
}

.councilor-table-main2 .table-div1 ul>li {
	width: 33.3%;
	float: left;
}

.councilor-table-main2 .table-div1 ul.activity-ul>li {
	margin-bottom: 1%;
}

.councilor-table-main2 .table-div1 ul.activity-ul>li:first-child {
	width: 50%;
}

.councilor-table-main2 .table-div2 {
	padding: 10px 0 10px 20px;
}

.councilor-table-main2 .table-div2 h5 {
	margin-bottom: 10px;
}

.councilor-table-main2 table {
	margin-bottom: 20px;
	text-align: center;
}

.councilor-table-main2 table tr>td {
	padding: 10px;
}

.councilor-table-main2 .table-div2 ul {
	border-top: 1px solid #787771;
}

.councilor-table-main2 .table-div2 ul>li {
	margin: 10px 0;
}

.councilor-table-main2 .table-div2 textarea,
.councilor-table-main3 ul li>textarea {
	resize: none;
}

.councilor-table-main2 .table-div4 {
	border-bottom: 1px solid #787771;
	padding-bottom: 20px;
}

.councilor-table-main3 h5 {
	background-color: #009CD2;
	padding: 10px;
}

.councilor-table-main3 {
	overflow: hidden;
}

.councilor-table-main3 .textarea-span {
	display: block;
	margin-bottom: 10px;
}

.councilor-table-main3 ul {
	padding: 20px 0 50px 10px;
}

.councilor-table-main3 ul li:first-child {
	margin-bottom: 10px;
}

.councilor-table-main3 ul li:first-child input {
	margin: 0 10px;
}

.councilor-table-main3 ul li>textarea {
	margin-bottom: 10px;
}

.councilor-table-main3 ul .label-radio2-main {
	display: none;
}

.councilor-table-main3 .table-div3 {
	overflow: hidden;
	padding: 20px;
	border-top: 1px solid #D0CDC7;
}

.councilor-table-main3 .table-div3>button,
.councilor-table-main2 .main-btn>button {
	float: right;
	width: 100px;
	height: 30px;
	margin-right: 20px;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background-color: #009CD2;
}

.councilor-table-main2 .main-btn>button {
	float: none;
	width: 80px;
	margin-right: 0;
}

.councilor-table-main4 .table-div2 {
	overflow: hidden;
}

.councilor-table-main4 .table-div2 ul.activity-ul>li {
	float: left;
	width: 50%;
}

.councilor-table-main4 .table-div4 ul {
	overflow: hidden;
	padding-top: 5px;
}


.councilor-table-main4 .table-div4 ul>li img {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	width: 100px;
}

.councilor-table-main4 .table-div4 ul>li {
	float: left;
	width: 20%;
	/* 作用域是在li上，当用定位的时候，要给li设置宽高，否则定位以后，li就没有宽高，会出现鼠标移入移出抖动BUG */
	height: 116px;
	text-align: center;
	cursor: pointer;
}

.big-img {
	width: 400px!important;
	height: 400px;
	position: fixed;
	top: 10%;
	left: 35%;
	z-index: 999;
}


/* --------------------------------------------------------------- */